@font-face {
    font-family: Ride;
    src: url(fonts/Ride.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Ride;
    src: url(fonts/Ride-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Ride;
    src: url(fonts/Ride-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Ride;
    src: url(fonts/Ride-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Ride;
    src: url(fonts/Ride-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Ride;
    src: url(fonts/Ride-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}



/***  UNIVERSAL STYLES  ***/

html {font-size: 15px;}

body {
  font-family: "Ride", "Arial", sans-serif;
  color: #787878;
}



/***  TEXT LINKS  ***/

a {color: black;}

a:hover {color: #717271;}



/*** HEADINGS  ***/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: black;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2em;
}

h2 {font-size: 1.6em;}

h3 {font-size: 1.25em;}

h4 {font-size: 1em;}

h5 {font-size: 0.9em;}

h6 {font-size: 0.8em;}

.main h1 a,
.main h2 a,
.main h3 a,
.main h4 a,
.main h5 a,
.main h6 a {
  text-decoration: none;
  color: black;
}

.main h1 a:hover,
.main h2 a:hover,
.main h3 a:hover,
.main h4 a:hover,
.main h5 a:hover,
.main h6 a:hover {color: #717271;}



/***  QUOTES  ***/

blockquote {  padding: 5px 0 5px 15px;  border-left: 5px solid black;  margin-left: 2em;  line-height: 1.5em;  font-size: 1.4em;  font-style: italic;  font-weight: normal;  font-weight: 300;}



/***  BUTTONS  ***/

.button {
  padding-bottom: 12px;
  background: black; 
  border: 2px solid black;
  text-decoration: none !important;
  color: white;
}

.button-yellow {
  border-color: #FFD100;
  background: #FFD100;
  color: black;
}

.button-blue {
  border-color: #2d74ba;
  background-color: #2d74ba;
}

.button.empty {
  background: none;
  color: black;
}

.button:hover, 
.button.empty:hover {
  background: #FFD100;
  border-color: #FFD100;
  color: black;
}

.button-yellow:hover, 
.button-blue:hover {
  border-color: black;
  background: black;
  color: white;
}





/***  ICONS  ***/

.icon {  color: #FFD100;}

a .icon {color: #FFD100;}

a:hover .icon {color: #FFD100;}



/*  Icon Backgrounds  */

.icon-bg {  color: #222;  background-color: #FFD100;  text-shadow: none;}

a .icon-bg {  color: #333;  background-color: #FFD100;}

a:hover .icon-bg {  color: #222;  background-color: #FFD100;}



/*  Icon Borders  */

.icon-br {border-color: #FFD100;}

a .icon-br {border-color: #FFD100;}

a:hover .icon-br {border-color: #FFD100;}



/***  FEATURE BOX (BETA)  ***/

.feature-box {  padding: 30px 20px !important;  background: black;  text-align: center;  color: #dcdcdc;}

.feature-box h2:first-child:after, .feature-box h2.title:after {  margin-top: 0.5em;  margin-bottom: 1.5em;  margin-left: auto;  margin-right: auto;}

.feature-box a {color: #eee;}

.feature-box a:hover {color: white;}

.feature-box .button {
  border-color: #FFD100;
  background: #FFD100;
  color: black;
}

.feature-box .button.empty {  color: white;  background: none;  border-color: #FFD100;}

.feature-box .button:hover, .feature-box .button.empty:hover {
  border-color: white;
  background: white;
  color: black;
}

.feature-box .icon {color: white !important;}

.feature-box a .icon {color: #eee !important;}

.feature-box a:hover .icon {color: white !important;}

.feature-box .icon-bg {  color: #418cbe !important;  background: white !important;}

.feature-box a .icon-bg {  color: #418cbe !important;  background: #eee !important;}

.feature-box a:hover .icon-bg {  color: #418cbe !important;  background: white !important;}

.feature-box h1, .feature-box h2, .feature-box h3, .feature-box h4, .feature-box h5, .feature-box h6 {  color: white;  padding-bottom: 0;  border-bottom: none;}

  

/***  HEADER TOP  ***/

.header-top {  padding-top: 2px;  padding-bottom: 2px;  color: #abacad;  font-size: 0.9em;  background: #19191a;  display: none;}

.header-top a {color: #d6d6d6;}

.header-top a:hover {color: white;}

.header-top .col-custom {width: 47.5%;}

.header-top .col-custom li a .icon {margin-right: 4px;}

.header-top .col-custom li a .social-icon {margin-right: 0;}

.header-top .col-custom:nth-child(2) {text-align: right;}

.header-top ul li:after, .header-top .menu li:after {content: '/';}

.header-top ul li:last-child:after, .header-top .menu li:last-child:after {content: '';}

.header-top ul li a, .header-top .menu li a {padding: 0 10px;}

@media screen and (max-width: 900px) {.header-top .col-custom, .header-top .col-custom:last-child {  width: 96%;  text-align: center;}

}

@media screen and (max-width: 600px) {.header-top {  padding-top: 5px;  padding-bottom: 5px;}

.header-top .menu li {  display: block;  margin-bottom: 0.5em;}

.header-top .menu li:after {content: '';}

  }

 

/***  HEADER  ***/

.header {
  position: relative;
  border-bottom: 3px solid #FFD100;
  background: black;
}

.logo img {max-height: 60px;}

.header-buttons {  margin-top: -19px;  right: 5px;}

.header-buttons a .icon {  font-size: 1.3em;  color: white;  background: rgba(0,0,0,0);}

.header-buttons a:hover .icon {  color: #FFD100;  background: rgba(0,0,0,0);}

.header-buttons a.active .icon {  color: #222;  background: #FFD100;}

@media screen and (min-width: 1025px) {.logo-wrapper, .main-menu > ul > li {height: 100px;}

}

@media screen and (max-width: 600px) {.header {text-align: center;}

.header .container {padding: 0;}

.header-buttons {  position: relative;  top: auto;  right: auto;  display: block;  width: 100%;  padding: 0;  margin: 0;  background: rgba(0,0,0,0.14);  text-align: right;}

}



/***  HEADER SCROLL  ***/

.header-scroll {
  border-bottom: 3px solid #FFD100;
  background: black;
}

.logged-in .header-scroll {top: 32px;}

.header-scroll .logo img {max-height: 50px;}

	@media screen and (min-width: 1025px) {.header-scroll .logo-wrapper, .header-scroll .main-menu > ul > li {height: 80px;}

}



/***  MAIN MENU  ***/

@media screen and (min-width: 1025px) {.main-menu > ul > li > a {  padding-left: 14px;  padding-right: 14px;  font-size: 1em; font-weight: lighter;  font-weight: 300;  color: #c9c9c9; }

.main-menu > ul > li.menu-item-has-children > a:after, .main-menu > ul > li.sub-menu > a:after {  display: inline-block;  vertical-align: middle;  margin-left: 8px;  margin-bottom: 3px;  font: normal normal normal 14px/1 FontAwesome;  font-size: 0.8em;  text-rendering: auto;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  transform: translate(0, 0);  content: "\f078";  color: #FFD100;}

.main-menu > ul > li > a .icon {  font-size: 1.2em;  color: #e7eaf2;}

.main-menu > ul > li.login-button > a {  padding-left: 10px;  padding-right: 2px;  font-size: 0.9em;}

  .main-menu > ul > li.login-button > a > span {  padding: 8px 12px;  -webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;  background: rgba(255,255,255,0.12); color: #FFD100;  webkit-transition: all 200ms ease-in-out;  -moz-transition: all 200ms ease-in-out;  -o-transition: all 200ms ease-in-out;  -ms-transition: all 200ms ease-in-out;  transition: all 200ms ease-in-out;}

.main-menu > ul > li.current-menu-item > a, .main-menu > ul > li.current-page-parent > a, .main-menu > ul > li.current-page-ancestor > a, .main-menu > ul > li:hover > a {  color: white; text-decoration: none;  background: rgba(0,0,0,0.1);}

.main-menu > ul > li.login-button:hover > a {background: none;}

.main-menu > ul > li.login-button:hover > a > span, .main-menu > ul > li.login-button.active > a > span {  background: #FFD100;  color: black;}

.main-menu > ul > li:hover > a .icon {color: #FFD100;}



/***  DROPDOWN MENU  ***/

.main-menu li > ul {  border: 1px solid #f2f2f2;  -webkit-border-radius: 4px;  -moz-border-radius: 4px;  border-radius: 4px;  background: white;}

.main-menu > ul > li > ul:before {  position: absolute;  bottom: 100%;  left: 50%;  display: block;  margin-bottom: -6px;  margin-lefT: -0.5em;  font: normal normal normal 18px/1 FontAwesome;  text-rendering: auto;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  transform: translate(0, 0);  content: "\f0d8";  color: white;}

.main-menu > ul > li > ul {  left: 50%;  margin-left: -100px;}

.main-menu > ul > li.double-wide > ul {margin-left: -200px;}

.main-menu li ul a {  padding: 10px;  -webkit-border-radius: 4px;  -moz-border-radius: 4px;  border-radius: 4px;  color: #787878;  font-size: 0.84em;  background: white;  text-align: left;}

.main-menu li ul li.sub-menu > a:after, .main-menu li ul li.menu-item-has-children > a {padding-right: 20px;}

.main-menu li ul li.current-page-ancestor > a, .main-menu li ul li.current-page-parent > a, .main-menu li ul li.current-menu-item > a, .main-menu li:hover ul li:hover > a {  color: black; background: white;}

}

@media screen and (max-width: 1200px) and (min-width: 1101px) {

.main-menu > ul > li > a {  padding-left: 11px;  padding-right: 11px; font-size: 0.9em; }

}

@media screen and (max-width: 1100px) and (min-width: 1025px) {

.main-menu > ul > li > a {  padding-left: 8px;  padding-right: 8px; font-size: 0.85em; }

}

@media screen and (max-width: 1024px) {

/***  MOBILE MENUS  ***/

.main-menu .login-button {display: none;}



/* Mobile Menu */

.main-menu {  background: black;}

.main-menu > ul {  background: black;}

.mobile-menu-left, .mobile-menu-right {background: black;}

.mobile-menu-left::-webkit-scrollbar, .mobile-menu-right::-webkit-scrollbar {  width: 5px;  background: black;}

.mobile-menu-left::-webkit-scrollbar-thumb, .mobile-menu-right::-webkit-scrollbar-thumb {  border: 0;  background: #1999;}

.main-menu > ul > li {margin-bottom: 1px;}

.main-menu li a {  padding: 12px 20px 11px;  text-transform: uppercase;  font-size: 0.84em;  color: #afafaf;}

.main-menu li.current-page-ancestor > a, .main-menu li.current-page-parent > a, .main-menu li a:hover {  color: #bcbcbc;  background: none;}

.main-menu li.current-menu-item > a {  color: #FFD100;  background: none;}

.main-menu li a.active {  background: #FFD100;  color: #222;}



/* Subpage Menu */

.mobile-menu-left li ul, .mobile-menu-right li ul {  background: #121212;  font-size: 0.9em;}

.mobile-menu-left li ul li a,.mobile-menu-right li ul li a {
  text-transform: none;
  font-size: 0.92em;
}

.mobile-menu-left li ul li a:before,.mobile-menu-right li ul li a:before {  margin-right: 10px;  font-size: 0.7em;  opacity: 0.5;}

.main-menu > ul > li.menu-item-has-children:after {  background: #121212;}

.main-menu > ul > li.menu-item-has-children.active:after {color: #FFD100;}

}



/***  PAGE TOP  ***/

.page-top {  background: black;  color: #a5a5a5;  font-size: 0.9em;}

.page-top .row {
  width: 100%;
  margin: 0;
}

.page-top .col-custom {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  width: 100%;
  margin-left: 0;
}

.page-top h3 {  display: inline-block;  vertical-align: middle;  padding-right: 1.5em; padding-top: 0.25em; padding-bottom: 0.25em;  margin: 0;  text-transform: uppercase;  color: #f4f4f4; font-size: 1em;}

.page-top .menu-breaking-news-container, .page-top ul, .page-top .menu {  display: inline-block;  vertical-align: middle;  width: auto;}

.page-top .menu {margin-top: -0.8em;}

.page-top li, .page-top .menu li {padding-right: 20px;font-size: 0.96em;}

.page-top li:last-child, .page-top .menu li:last-child {padding-right: 0;}

.page-top a, .page-top a:hover {vertical-align: middle;color: white;}

.page-top a span, .page-top a:hover span {  color: #a5a5a5;}

@media screen and (max-width: 900px) {

.page-top .menu {margin-top: 0;}

.page-top h3, .page-top .menu-breaking-news-container, .page-top ul, .page-top .menu,.page-top li, .page-top .menu li {  display: block;  width: 100%;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}

}

@media screen and (max-width: 600px) {.page-top {display: none;}

}



/***  INTRO  ***/

.intro {  height: 150px;  background-color: #222;}



/***  BREADCRUMBS  ***/

.breadcrumbs {  padding-top: 0.5em;  padding-bottom: 0em;  color: #818181;  font-size: 0.8em;  background: white;}

.breadcrumbs span {  font-weight: normal;  font-weight: 600;  color: #767676;}

@media screen and (max-width: 600px) {.breadcrumbs {text-align: center;}

}



/***  PAGE TITLE  ***/

.page-title {  background: white;  padding: 0;  border-bottom: 1px solid #eee;}

.page-title .col-custom {width: 97.5%;}

.page-title .col-custom:nth-child(2) {display: none;}

.page-title-area {height: auto;}

.page-title h1 {  display: inline-block;  vertical-align: middle;  padding-top: 0.75em;  padding-bottom: 0.75em;  border-bottom: 1px solid #b3b3b3;  margin-bottom: -1px;  font-weight: normal;  font-weight: 400;  font-size: 2.25em;  color: black;  text-shadow: none;}

@media screen and (max-width: 900px) {	.page-title .col-custom, .page-title .col-custom:nth-child(2) {  text-align: center;  width: 96%;}

.page-title-area {height: auto;}

}



/***  CONTENT  ***/

.main {padding-top: 25px;}

.content h1 .icon, .content h2 .icon, .content h3 .icon, .content h4 .icon, .content h5 .icon, .content h6 .icon {  margin-right: 0.5em;}

.content h1:first-child, .content h1.title {text-align: center;}

.content h1:first-child:after, .content h2:first-child:after {  display: block;  width: 80px;  height: 1px;  background: #ccc;  content: '';}

.content h1:first-child:after, .h1.title:after {  margin-top: 0.5em;  margin-bottom: 1.5em;  margin-left: auto;  margin-right: auto;}

.content h1:first-child:last-child:after {  margin-bottom: 0;}

.content h2:first-child:after, .h2.title:after {  margin-top: 0.25em;}

.content h2.centered:first-child:after, h2.title.centered:first-child:after {  margin-left: auto;  margin-right: auto;}



/***  SIDEBAR  ***/

.sidebar {  font-size: 0.9em;  line-height: 1.6em;}

.sidebar li, .sidebar .menu li {  padding: 10px 0 10px 15px;  border-bottom: 1px dotted rgba(0,0,0,0.2);}

.sidebar li:before, .sidebar .menu li:before {  position: absolute;  top: 1.5em;  left: 0;  display: block;  font: normal normal normal 14px/1 FontAwesome;  font-size: inherit;  text-rendering: auto;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  transform: translate(0, 0);  content: "\f054";  margin-right: 10px;  font-size: 0.7em;}



/**  Sidebar Sub Menu  **/

.sidebar ul ul {border-top: 1px dotted rgba(0,0,0,0.2);}

.sidebar ul ul li, .sidebar .menu ul li {padding-left: 15px;}

.sidebar ul ul li:last-child, .sidebar .menu ul li:last-child {  margin-bottom: -10px;  border-bottom: none;}



/***  BLOG POSTS  ***/

.blog-post {  min-height: 200px;  padding-left: 90px;}

.post-info {  font-size: 0.9em;  color: #999;}

.post-author-avatar img {  -webkit-border-radius: 50%;  -moz-border-radius: 50%;  border-radius: 50%;}

ul.post-info {  position: absolute;  top: 0;  left: 0;  padding: 0;  margin: 0;  list-style: none;  text-align: center;}

ul.post-info li {  padding-top: 10px;  padding-bottom: 10px;  border-bottom: 1px dotted #d2d2d2;}

ul.post-info li:first-child {padding-top: 0;}

ul.post-info li:last-child {border-bottom: none;}

ul.post-info .post-author, ul.post-info .post-categories {display: none;}

.post-author-avatar {  display: inline-block;  width: 60px;  height: auto;  margin-left: auto;  margin-right: auto;}

ul.post-info .post-date {  text-transform: uppercase;  font-size: 1.2em;}

ul.post-info .post-date .post-day {  display: block;  font-size: 2em;  font-weight: bold;}

p.post-info {  margin-top: 0.5em;  font-style: italic;}

p.post-info .post-author-avatar, p.post-info .post-date, p.post-info .post-comment-count {display: none;}

@media screen and (max-width: 600px) {	.blog-post {padding-left: 0;}

ul.post-info {display: none;}

p.post-info .post-date, p.post-info .post-comment-count {display: block;}

}



/***  POST NAVIGATION  ***/

.post-share {}

.blog-posts-nav, .single-post-nav {text-align: center;}

.blog-posts-nav a, .single-post-nav a {



  display: inline-block;



  padding: 5px 10px;



  border: 1px solid #d2d2d2;



  margin: 2px;



  -webkit-border-radius: 4px;



  -moz-border-radius: 4px;



  border-radius: 4px;



}



.blog-posts-nav a:hover, 



.single-post-nav a:hover {



  background: #FFD100;



  color: black;



  text-decoration: none;



}



.blog-posts-nav .older-posts {float: left;}



.blog-posts-nav .newer-posts {float: right;}



@media screen and (max-width: 420px) {

.blog-posts-nav .older-posts, 



.blog-posts-nav .newer-posts {



  float: none;



  display: inline-block;



}



}







/***  COMMENTS  ***/



.comments {font-size: 0.9em;}



.comments ul {



  display: block;



  width: 100%;



  margin-left: auto;



  margin-right: auto;



  -webkit-box-sizing: border-box;



  -moz-box-sizing: border-box;



  box-sizing: border-box;



  clear: both;



  list-style: none;



}



.comments ul:after {



  visibility: hidden;



  display: block;



  fo-size: 0;  content: " ";  clear: both;  height: 0;}

.comments .avatar {display: none;}

.comments li {  float: left;  width: 100%;  padding: 0;  padding-bottom: 1.5em;  border-bottom: 1px dotted #ccc;  margin: 0;  margin-bottom: 1.5em;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;  background: none;}

.comments li ul li {  padding: 0.5em 0 0.5em 40px;  padding-left: 40px;  border: 0;  border-left: 10px solid #eee;  margin: 0; }

.comments li ul li:nth-child(odd) {background: none;}

.comments a.url {font-weight: bold;}

.comments .reply {font-size: 0.8em;}

.comments time {font-size: 0.8em;}

.comments .reply-form {  padding: 15px;  -webkit-border-radius: 12px;  -moz-border-radius: 12px;  border-radius: 12px;  background: #f4f3f0;}



/***  RECENT POSTS MODULE  ***/

.recent-posts {}



/***  UNIVERSAL FOOTER STYLES  ***/

.footer, .footer-btm {  font-size: 0.9em;  color: #abacad;}

.footer a, .footer-btm a {  color: #d6d6d6;}

.footer a:hover, .footer-btm a:hover {color: white;}

.footer h1, .footer-btm h1, .footer h2, .footer-btm h2, .footer h3, .footer-btm h3, .footer h4, .footer-btm h4, .footer h5, .footer-btm h5, .footer h6, .footer-btm h6 {color: white;}

.footer span {color: white;}



/***  FORM STYLES  ***/

input[type="submit"], 
input[type="reset"], 
input[type="button"] {
  height: 2.8em;
  padding: 0 24px;
  border-color: #FFD100;
  background: #FFD100;
  font-size: 0.95em;
  font-weight: 600;
  color: black;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

input[type="Submit"]:hover,
input[type="reset"]:hover, 
input[type="button"]:hover {
  background: black;
  color: white;
}

input[type="Submit"]:active, 
input[type="reset"]:active, 
input[type="button"]:active {
  background: #222;
  color: white;
}

.vfb-item-radio .vfb-span, .vfb-item-checkbox .vfb-span {  display: inline-block;  vertical-align: top;  padding-right: 20px;}

.vfb-legend h3 {  font-size: 1.6em;  margin-bottom: 1em;}



/***  FOOTER TOP  ***/

.footer-top {display: none;}



/***  FOOTER  ***/

.footer {
  padding-top: 65px;
  padding-bottom: 65px;
  border-top: 3px solid #FFD100;
  border-bottom: 2px solid #FFD100;
  background: black;
}

.footer .col-custom {width: 22.5%;}

.footer .col-custom:first-child {width: 47.5%;}

.footer h1:first-child, .footer h2:first-child, .footer h3:first-child, .footer h4:first-child, .footer h5:first-child, .footer h6:first-child {  text-transform: uppercase;  margin-bottom: 1.2em;  text-shadow: 1px 2px 0 rgba(0,0,0,0.3);}

.footer h3:first-child {font-size: 1.2em;}

.footer ul, .footer .menu {  width: 102.5%;  margin-left: -2.5%;}

.footer li, .footer .menu li {  position: relative;  display: inline-block;  vertical-align: top;  width: 47.5%;  padding: 10px 0 10px 15px;  border-bottom: 1px dotted rgba(255,255,255,0.5);  margin: 0;  margin-left: 2.5%;  margin-right: -4px;  background-size: 0.75em;}

.footer li:before,.footer .menu li:before {  position: absolute;  top: 1.5em;  left: 0;  display: block;  font: normal normal normal 14px/1 FontAwesome;  font-size: inherit;  text-rendering: auto;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  transform: translate(0, 0);  content: "\f054";  font-size: 0.7em;}

.footer li a, .footer .menu li a {  display: inline-block;  padding-left: 0;  padding-right: 0;}

.footer ul ul, .footer .menu ul {display: none;}

.footer span {color: white;}

.footer .button {  background: white; 

/* Sets button background color */

  border: 2px solid white;  color: black;}

.footer a.button.empty {  background: none;  color: white;}

.footer a.button:hover, .footer a.button.empty:hover {  background: #5470c0; 

/* Sets button hover background color */

  border: 2px solid #5470c0;}

@media screen and (max-width: 900px) {.footer {  padding-top: 45px;  padding-bottom: 45px;}

.footer .col-custom {  display: inline-block;  width: 46%;  margin-top: 1.5em;  margin-bottom: 1.5em;}

.footer .col-custom:first-child {width: 96%;}

}

@media screen and (max-width: 600px) {.footer .col-custom {width: 96%;}

.footer li, .footer .menu li {width: 97.5%;}

}



/***  FOOTER BOTTOM  ***/

.footer-btm {  background: black;  font-size: 0.9em;  padding-top: 1.5em;  padding-bottom: 1.5em;}

.footer-btm .col-custom {width: 47.5%;}

.footer-btm .col-custom:nth-child(2) {text-align: right;}

.footer-btm .col-custom li a .icon {margin-right: 4px;}

.footer-btm .col-custom li a .social-icon {margin-right: 0;}

.copyright span:after {  content: ' | ';}

.footer-btm ul li:after, .footer-btm .menu li:after {  content: '/';}

.footer-btm .ul li:last-child:after, .footer-btm .menu li:last-child:after, .footer-btm .widget_accesstxt ul li:after, .footer-btm .widget_accesstxt .menu li:after {  content: '';}

.footer-btm .widget_accesstxt h3, .footer-btm .widget_accesstxt ul, .footer-btm .widget_accesstxt .menu {  display: inline-block;  vertical-align: middle;}

.footer-btm ul li a, .footer-btm .menu li a {padding: 0 10px;}

.footer-btm ul ul {display: none;}

@media screen and (max-width: 900px) {

.footer-btm .col-custom, 
.footer-btm .col-custom:first-child,
.footer-btm .col-custom:nth-child(2) {
  display: block;
  width: 96%;
  text-align: center;
}

}

@media screen and (max-width: 600px) {	.footer-btm span:after {  display: block;  content: '';}

}



/***  LOGIN OVERLAY  ***/

.login-overlay, .login-area {  visibility: hidden;  opacity: 0;  height: 0;  overflow: hidden;  position: fixed;  cursor: pointer;  cursor: hand;  webkit-transition: opacity 250ms ease-in-out;  -moz-transition: opacity 250ms ease-in-out;  -o-transition: opacity 250ms ease-in-out;  -ms-transition: opacity 250ms ease-in-out;  transition: opacity 250ms ease-in-out;}

.login-overlay {  top: 0;  bottom: 0;  left: 0;  right: 0;  z-index: 5000;  background: rgba(0,0,0,0.6);}

.login-overlay .icon {  position: absolute;  top: 20px;  right: 20px;  color: #eee;  font-size: 2em;}

.login-overlay .icon:hover {color: white;}

.login-area {  top: 50%;  left: 50%;  z-index: 5001;  width: 550px;  padding: 25px;  margin-top: -80px;  margin-left: -275px;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;  background: white;  font-size: 0.84em;  text-align: center;}

.login-area a {  display: block;  padding: 25px 5px;  text-align: center;  background: #222;  color: #eee;  webkit-transition: all 250ms ease-in-out;  -moz-transition: all 250ms ease-in-out;  -o-transition: all 250ms ease-in-out;  -ms-transition: all 250ms ease-in-out;  transition: all 250ms ease-in-out;}

.login-area a:hover {  background: #FFF229;  color: #222;}

.login-area a:hover {text-decoration: none;}

.login-area a .icon {  color: #eee;  font-size: 2.4em;}

.login-area a:hover .icon {color: #222;}

.login-overlay.active, .login-area.active {  height: auto;  visibility: visible;  opacity: 1;}

.login-button {  cursor: pointer;  cursor: hand;}

@media screen and (max-width: 600px) {.login-area {  left: 0;  width: 90%;  padding: 10px;  margin-top: -135px;  margin-left: 5%;  margin-right: 5%;  font-size: 0.74em;}

.login-area a {padding: 10px;}

.login-area [class*="col-"] {padding-bottom: 10px;}

.login-area [class*="col-"]:last-child {padding-bottom: 0;}

}



/* * * END OF * STNDRD THEME 2.0 * CUSTOMIZABLE CSS * */



/********ADDED CODES********/

.postaccordion{line-height: 1.8em;}

#cboxTitle{display:none !important;}



/***Table Press**/

.tablepress thead th{background:black !important;color:#fff;font-weight:normal !important;text-align:center;}

.tablepress thead th,.tablepress td{text-align:center !important;font-size:13px !important;}

.tablepress td li{text-align:left;}



.audi th.column-4 {background: #CC3333 !important;color:#fff !important;}

.audi .column-4{color:#CC3333 !important;}



.buick th.column-3,.cadillac th.column-3,.chevrolet th.column-3 {background: #CC3333 !important;color:#fff !important;}

.buick .column-3,.cadillac .column-3,.chevrolet .column-3{color:#CC3333 !important;}



.ford-lincoln th.column-5{background: #CC3333 !important;color:#fff !important;}

.ford-lincoln .column-5{color:#CC3333 !important;}



.kia th.column-2{background: #CC3333 !important;color:#fff !important;}

.kia .column-2{color:#CC3333 !important;}



.mercedes-benz th.column-4{background: #CC3333 !important;color:#fff !important;}

.mercedes-benz .column-4{color:#CC3333 !important;}



.nissan-infiniti th.column-2{background: #CC3333 !important;color:#fff !important;}

.nissan-infiniti .column-2{color:#CC3333 !important;}



.subaru th.column-2{background: #CC3333 !important;color:#fff !important;}

.subaru .column-2{color:#CC3333 !important;}



.toyota-scion th.column-6{background: #CC3333 !important;color:#fff !important;}

.toyota-scion .column-6{color:#CC3333 !important;}



.volkswagen th.column-6{background: #CC3333 !important;color:#fff !important;}

.volkswagen .column-6{color:#CC3333 !important;}



.ford-lincoln-trucks th.column-3{background: #CC3333 !important;color:#fff !important;}

.ford-lincoln-trucks .column-3{color:#CC3333 !important;}

.ford-lincoln-trucks .row-15 .column-3{color: #787878 !important;} 



.gm-trucks th.column-4{background: #CC3333 !important;color:#fff !important;}

.gm-trucks .column-4{color:#CC3333 !important;}



.buick-canada-cars th.column-4{background: #CC3333 !important;color:#fff !important;}

.buick-canada-cars .column-4{color:#CC3333 !important;}



.cadillac-canada-cars th.column-4{background: #CC3333 !important;color:#fff !important;}

.cadillac-canada-cars .column-4{color:#CC3333 !important;}



.chevrolet-canada th.column-2{background: #CC3333 !important;color:#fff !important;}

.chevrolet-canada .column-2{color:#CC3333 !important;}



.chrysler-canada-cars th.column-6{background: #CC3333 !important;color:#fff !important;}

.chrysler-canada-cars .column-6{color:#CC3333 !important;}



.ford-lincoln-canada th.column-5{background: #CC3333 !important;color:#fff !important;}

.ford-lincoln-canada .column-5{color:#CC3333 !important;}



.toyota-canada th.column-2{background: #CC3333 !important;color:#fff !important;}

.toyota-canada .column-2{color:#CC3333 !important;}



.ford-lincoln-canada-trucks th.column-3{background: #CC3333 !important;color:#fff !important;}

.ford-lincoln-canada-trucks .column-3{color:#CC3333 !important;}



.gm-canada-trucks th.column-5{background: #CC3333 !important;color:#fff !important;}

.gm-canada-trucks .column-5{color:#CC3333 !important;}



.build-out-chrysler-cars th.column-5{background: #CC3333 !important;color:#fff !important;}

.build-out-chrysler-cars .column-5{color:#CC3333 !important;}



.build-out-hyundai-cars th.column-2{background: #CC3333 !important;color:#fff !important;}

.build-out-hyundai-cars .column-2{color:#CC3333 !important;}



.build-out-chrysler-trucks th.column-4{background: #CC3333 !important;color:#fff !important;}

.build-out-chrysler-trucks .column-4{color:#CC3333 !important;}



.build-out-chrysler-canada-trucks th.column-5{background: #CC3333 !important;color:#fff !important;}

.build-out-chrysler-canada-trucks .column-5{color:#CC3333 !important;}





/**Table Highlight***/

.first-column-highlight th.column-1 {background: #CC3333 !important;color:#fff !important;}

.first-column-highlight .column-1{color:#CC3333 !important;}



.second-column-highlight th.column-2 {background: #CC3333 !important;color:#fff !important;}

.second-column-highlight .column-2{color:#CC3333 !important;}



.third-column-highlight th.column-3 {background: #CC3333 !important;color:#fff !important;}

.third-column-highlight .column-3{color:#CC3333 !important;}



.fourth-column-highlight th.column-4 {background: #CC3333 !important;color:#fff !important;}

.fourth-column-highlight .column-4{color:#CC3333 !important;}



.fifth-column-highlight th.column-5 {background: #CC3333 !important;color:#fff !important;}

.fifth-column-highlight .column-5{color:#CC3333 !important;}





.sixth-column-highlight th.column-6 {background: #CC3333 !important;color:#fff !important;}

.sixth-column-highlight .column-6{color:#CC3333 !important;}



.seventh-column-highlight th.column-7 {background: #CC3333 !important;color:#fff !important;}

.seventh-column-highlight .column-7{color:#CC3333 !important;}



.eight-column-highlight th.column-8 {background: #CC3333 !important;color:#fff !important;}

.eight-column-highlight .column-8{color:#CC3333 !important;}



.ninth-column-highlight th.column-9 {background: #CC3333 !important;color:#fff !important;}

.ninth-column-highlight .column-9{color:#CC3333 !important;}



.tenth-column-highlight th.column-10 {background: #CC3333 !important;color:#fff !important;}

.tenth-column-highlight .column-10{color:#CC3333 !important;}



.eleventh-column-highlight th.column-11 {background: #CC3333 !important;color:#fff !important;}

.eleventh-column-highlight .column-11{color:#CC3333 !important;}



.twelfth-column-highlight th.column-12 {background: #CC3333 !important;color:#fff !important;}

.twelfth-column-highlight .column-12{color:#CC3333 !important;}



.tablealignleft .tablepress thead th, .tablealignleft .tablepress td{text-align:left !important;}



.sp-caption-container {padding-bottom: 15px;}



.main p a,.main a{text-decoration:underline;}

.content h2:first-child:after{display:none;}





/*****BLOG POST*****/

li.post-author-avatar,.post-author,li.post-comment-count{display:none;}

.single .intro{display:none;}



/****META SLIDER****/

.metaslider .caption{text-align:center;}

.metaslider .caption h2{color:#fff !important;}

.metaslider .caption-wrap{opacity:.8 !important;}





/****SLIDER****/

.sp-caption-container{position: absolute;bottom: 0;width: 80%;margin: 0 auto;left: 0;right: 0;background:rgba(0,0,0,.5);}

.sp-caption-container,.sp-caption-container h2{color:#fff !important;}



/****Fleetnews table******/

.firstcolumn-equalwidth tr td:first-child{width: 15%;}





.category-donlen-news .intro{background-image: url("/wp-content/uploads/2015/07/Friday-Fleet-1500x300.jpg") !important;}







.errortext{overflow:hidden;margin-top:10px;color:#818285;}

.errorpagebutton{padding-right: 20px;float:left;}

.errorpagebutton a{text-align:center;background:#1e325f;padding:10px 15px;font-weight:bold;color:#fff;text-decoration:none !important;border-radius:5px;display: block;margin-top: 0;}

.buttonadditionaltext{float:left;    margin-top: 0;}

.errorheadertext h1{color:#1e325f;font-size: 5.5em;font-weight: normal;font-family: 'Open Sans Condensed', sans-serif;margin-bottom: 0;margin-top:0;text-align:left !important;}

.errorheadertext h1:after{display:none !important;}

.errorheadertext h1 span{font-size: 1.2em;}

.errortextsorry{ font-size: 2.5em;font-weight: normal;letter-spacing: -0.03em;color:#818285;margin:0;}		





.search-results .intro,.search-no-results .intro{background-image: url('/wp-content/uploads/2015/10/Search-Banner-Image.jpg');}

.search-results .intro h1,.search-no-results .intro h1{margin-top: 50px;}





@media screen and (max-width: 860px){

	.firstcolumn-equalwidth tr td:first-child{width: 30%;}	

}

@media screen and (max-width: 400px){

	.firstcolumn-equalwidth tr td:first-child{width: 35%;}	

}

@media screen and (max-width: 375px){

	.errorheadertext h1{font-size:4em;}

}





.header-scroll .main-menu li ul{display:block !important;}

.header-scroll .main-menu li ul li{height:auto;}



.search-results ul.post-info{display:none;}

/**.sp-caption-container {bottom: 33px !important;}
.sp-buttons {position: absolute !important;bottom: 0;background: rgba(0,0,0,.5);width: 80% !important;
    margin: 0 auto;
    left: 0;
    right: 0;}
.sp-button{border-color:#fff !important;}***/




.vfbp-form .vfb-form-group {margin-bottom: 0;}
.vfbp-form p{margin: 0;}
.vfbp-form [class*="col-"]{margin-left: 0;padding-left: 0;margin: 0 0;}
.vfbp-form .vfb-form-control{border-radius:0 !important;box-shadow:none !important;}

.vfbp-form .btn-primary{
  height: 2.8em;
  padding: 0 24px !important;
  border-color: #FFD100 !important;
  background: #FFD100 !important;
  font-size: 0.95em !important;
  font-weight: 600 !important;
  color: black !important;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.vfbp-form .btn-primary:hover {border-color: black !important;background: black !important; color: white !important;}
.vfb-form-group h4{font-size: 1.6em; margin-bottom: 1em; font-weight: 600; color: black; font-family: 'Open Sans Condensed', sans-serif;}

/*Blog*/
.blog .intro,.archive .intro{background-image:url('/wp-content/uploads/2016/01/Donlen-blog.jpg');}
.blog .intro h1,.archive .intro h1{margin-top:50px;}

/*Sidebar*/
.sidebar .widget_archive label{display:none;}



/* Countdown Clock */

.sp-slide {position: relative;}

.countdown-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  display: table;
  width: 100%;
  height: 450px;
  margin-top: -225px;
}

.countdown {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.countdown p {
  font-weight: bold;
  font-size: 1.75em;
}

.countdown-col {
  display: inline-block;
  vertical-align: top;
}

.countdown-number {
  display: block;
  min-width: 50px;
  padding: 0.3em 0.6em;
  border-radius: 0.25em;
  background: #3DA8CC;
  color: white;
  font-size: 2.5em;
  font-weight: lighter;
  font-weight: 300;
  text-align: center;
}

.countdown-label {
  display: block;
  padding-top: 0.5em;
  text-align: center;
  font-weight: bold;
  color: white;
  line-height: 1.3em;
}

@media screen and (max-width: 900px) {

.countdown p, 
.countdown p:first-child {margin: 0 !important;}

.countdown {font-size: 0.7em;}

}

@media screen and (max-width: 600px) {

.sp-arrows {display: none !important;}

.countdown {font-size: 0.4em;}

.countdown-number {
  padding: 0.1em 0.3em;
  font-size: 1.5em;
  min-width: 30px;
}

.countdown-label {padding-top: 0;}

}



/***  NEW HOMEPAGE MODS  ***/

.home h2 img {margin-right: 10px;}

.pad-left-col {padding-left: 60px;}

@media screen and (min-width: 901px) {

.slide-to-the-right {
  position: relative;
  width: calc(100% + 60px);
  padding-left: 60px;
  margin-left: -60px;
}

.slide-to-the-right img {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -25px;
}

}

.vertical-align-middle [class*="col-"] {vertical-align: middle;}

.vertical-align-bottom [class*="col-"] {vertical-align: bottom;}

.hp-divider {
  border-bottom: 1px solid black;
  margin: 3em 0;
}

.hp-divider .icon {
  padding: 0.25em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: -0.9em;
  background: black;
  font-size: 1.5em;
  color: white;
}

.home .page-top {display: none;}

.award-cols [class*="col-"] {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

@media screen and (max-width: 900px) {

.home h2 {text-align: center;}

.home h2 img {
  display: block;
  margin: 0 auto;
}

.pad-left-col {padding-left: 0;}

.slide-to-the-right {text-align: center;}

.slide-to-the-right a {display: block;}

}

/* Fancy Cols */

.fancy-cols [class*="col-"] {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.fancy-cols [class*="col-"] > a {
  position: absolute;
  top: 50%;
  left: 0;
  display: table;
  width: 100%;
  height: 300px;
  padding: 25px;
  margin-top: -150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0,0,0,0.25);
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  color: white;
  webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.page-id-177 .fancy-cols [class*="col-"] > a {background: rgba(0,0,0,0.5);}

.fancy-cols [class*="col-"]:hover > a {background: rgba(0,0,0,0.4);}

.fancy-cols [class*="col-"] > a > div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fancy-cols h1, 
.fancy-cols h2, 
.fancy-cols h3, 
.fancy-cols h4, 
.fancy-cols h5, 
.fancy-cols h6 {Color: white;}

.fancy-cols [class*="col-"] button {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em 1.2em;
  border: none;
  border-radius: 4px;
  background: white;
  color: #222;
  opacity: 0.75;
  webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.fancy-cols [class*="col-"]:hover button {opacity: 0.9;}




/***  CTA WIDGET  ***/

#text-12 {
  padding: 15px;
  border: 1px dotted #d2d2d2;
  text-align: center;
}




/***  ADDITIONS BY JADEN 11/7/2017  ***/

input[type="text"].search-field {padding-right: 40px;}

/*input[type="text"]:focus {border-color: #FFD100;}*/

input[type="Submit"].search-submit, 
input[type="Submit"].search-submit:hover {
  padding: 0 !important;
  background-color: none !important;
  background: url(images/icon-search.png) center center no-repeat;
  background-size: 20px;
}

.search-area input[type="Submit"].search-submit {right: 10px;}




